node_modules/
backend//node_modules backend/.env
frontend/node_modules
.next/
dist/
*.log
.DS_Store

*.pem
terraform-3tier/.terraform
terraform-3tier/.terraform.lock.hcl
terraform-3tier/terraform.tfstate
terraform-3tier/terraform.tfstate.backup
terraform-3tier/modules/clbs/.terraform 
terraform-3tier/modules/clbs/.terraform.lock.hcl
terraform-3tier/modules/clbs/terraform.tfstate
terraform-3tier/modules/clbs/terraform.tfstate.backup
terraform-3tier/modules/ec2/.terraform
terraform-3tier/modules/ec2/.terraform.lock.hcl
terraform-3tier/modules/ec2/terraform.tfstate
terraform-3tier/modules/ec2/terraform.tfstate.backup
terraform-3tier/modules/rds/.terraform
terraform-3tier/modules/rds/.terraform.lock.hcl
terraform-3tier/modules/rds/terraform.tfstate
terraform-3tier/modules/rds/terraform.tfstate.backup
terraform-3tier/modules/vpc/.terraform
terraform-3tier/modules/vpc/.terraform.lock.hcl
terraform-3tier/modules/vpc/terraform.tfstate
terraform-3tier/modules/vpc/terraform.tfstate.backup
terraform-3tier/modules/security-groups/.terraform
terraform-3tier/modules/security-groups/.terraform.lock.hcl
terraform-3tier/modules/security-groups/terraform.tfstate
terraform-3tier/modules/security-groups/terraform.tfstate.backup
