.container {
  width: 70%;
  margin: auto;
  font-family: Arial;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.inputField {
  padding: 8px;
}

.button {
  padding: 10px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

.list {
  display: grid;
  gap: 15px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
}